@import './base.scss';

a {
  color: var(--foreground-default);
  text-decoration: underline;
  text-underline-offset: 2px;
}

b {
  font-weight: 700;
}

.v-popper--theme-tooltip .v-popper__inner {
  background-color: var(--background-alt) !important;
  color: var(--foreground-default) !important;
  font-size: 13px;
  overflow: hidden;
}
